<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>CheckMyStaff</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>CheckMyStaff would like to access the camera : CheckMyStaff needs permission to access your camera to update your profile image.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>CheckMyStaff would like to access your Face ID for Login purposes.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>CheckMyStaff Would Like to Access Your Photo Library By allowing us access to your photos, you will be able to upload images as a profile image or as a request submission.</string>
	<key>UIAppFonts</key>
	<array>
		<string>fonts/AntDesign.ttf</string>
		<string>fonts/Entypo.ttf</string>
		<string>fonts/EvilIcons.ttf</string>
		<string>fonts/Feather.ttf</string>
		<string>fonts/FontAwesome.ttf</string>
		<string>fonts/FontAwesome5_Brands.ttf</string>
		<string>fonts/FontAwesome5_Regular.ttf</string>
		<string>fonts/FontAwesome5_Solid.ttf</string>
		<string>fonts/FontAwesome6_Brands.ttf</string>
		<string>fonts/FontAwesome6_Regular.ttf</string>
		<string>fonts/FontAwesome6_Solid.ttf</string>
		<string>fonts/Foundation.ttf</string>
		<string>fonts/Ionicons.ttf</string>
		<string>fonts/MaterialCommunityIcons.ttf</string>
		<string>fonts/MaterialIcons.ttf</string>
		<string>fonts/Octicons.ttf</string>
		<string>fonts/SimpleLineIcons.ttf</string>
		<string>fonts/Zocial.ttf</string>
		<string>fonts/Fontisto.ttf</string>
		<string>fonts/Gilroy-Black.ttf</string>
		<string>fonts/Gilroy-Bold.ttf</string>
		<string>fonts/Gilroy-ExtraBold.ttf</string>
		<string>fonts/Gilroy-Heavy.ttf</string>
		<string>fonts/Gilroy-Light.ttf</string>
		<string>fonts/Gilroy-Medium.ttf</string>
		<string>fonts/Gilroy-Regular.ttf</string>
		<string>fonts/Gilroy-SemiBold.ttf</string>
		<string>fonts/Gilroy-Thin.ttf</string>
		<string>fonts/Gilroy-UltraThin.ttf</string>
		<string>fonts/Roboto-Black.ttf</string>
		<string>fonts/Roboto-Bold.ttf</string>
		<string>fonts/Roboto-Light.ttf</string>
		<string>fonts/Roboto-Medium.ttf</string>
		<string>fonts/Roboto-Regular.ttf</string>
		<string>fonts/Roboto-Thin.ttf</string>
		<string>fonts/NATS 400.ttf</string>
		<string>fonts/Poppins-Black.ttf</string>
		<string>fonts/Poppins-Bold.ttf</string>
		<string>fonts/Poppins-Light.ttf</string>
		<string>fonts/Poppins-Medium.ttf</string>
		<string>fonts/Poppins-Regular.ttf</string>
		<string>fonts/Poppins-Thin.ttf</string>
		<string>fonts/Poppins-BlackItalic.ttf</string>
		<string>fonts/Poppins-BoldItalic.ttf</string>
		<string>fonts/Poppins-ExtraBold.ttf</string>
		<string>fonts/Poppins-ExtraBoldItalic.ttf</string>
		<string>fonts/Poppins-ExtraLight.ttf</string>
		<string>fonts/Poppins-ExtraLightItalic.ttf</string>
		<string>fonts/Poppins-Italic.ttf</string>
		<string>fonts/Poppins-LightItalic.ttf</string>
		<string>fonts/Poppins-MediumItalic.ttf</string>
		<string>fonts/Poppins-SemiBold.ttf</string>
		<string>fonts/Poppins-SemiBoldItalic.ttf</string>
		<string>fonts/Poppins-ThinItalic.ttf</string>
		<string>fonts/Inter-Medium.ttf</string>
		<string>fonts/Inter-Bold.ttf</string>
		<string>fonts/Inter-Black.ttf</string>
		<string>fonts/Inter-ExtraBold.ttf</string>
		<string>fonts/Inter-ExtraLight.ttf</string>
		<string>fonts/Inter-Light.ttf</string>
		<string>fonts/Inter-Regular.ttf</string>
		<string>fonts/Inter-SemiBold.ttf</string>
		<string>fonts/Gobold.ttf</string>
		<string>fonts/NunitoSans-Black.ttf</string>
		<string>fonts/NunitoSans-Bold.ttf</string>
		<string>fonts/NunitoSans-ExtraBold.ttf</string>
		<string>fonts/NunitoSans-ExtraLight.ttf</string>
		<string>fonts/NunitoSans-Light.ttf</string>
		<string>fonts/NunitoSans-Regular.ttf</string>
		<string>fonts/NunitoSans-SemiBold.ttf</string>
		<string>fonts/Gobold-Regular.ttf</string>
		<string>fonts/LibreBaskerville-Bold.ttf</string>
		<string>fonts/LibreBaskerville-Regular.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
